<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel = "apple-touch-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Assistente de Finanças</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBUPFalpHQhKdQ2iBvmCXULrvc67qrQg3I",
            authDomain: "finlix-96afb.firebaseapp.com",
            projectId: "finlix-96afb",
            storageBucket: "finlix-96afb.firebasestorage.app",
            messagingSenderId: "14388025527",
            appId: "1:14388025527:web:38a0f4946c88dbb64a9532",
            measurementId: "G-WCNEJGHTXE"
        };
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();
    </script>
</head>

<body>
    <div class="container">
        <h1>Registrar Movimentação</h1>
        <form id="form-movimentacao">
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select id="tipo" name="tipo" required>
                    <option value="despesa">Despesa</option>
                    <option value="entrada">Entrada</option>
                </select>
            </div>
        </form>
        <div id="notificacao" class="notificacao" style="display: none;">
            Movimentação registrada com sucesso!
        </div>
        <div class="extrato">
            <h2>Extrato de Movimentações</h2>
            <div id="extrato"></div>
            <div id="grafico-secao" style="display: none;">
                <h2>Gráfico de Despesas por Categoria</h2>
                <canvas id="graficoDespesas"></canvas>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>